    <head>
        <link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            <h1 class="">Passwort zurücksetzen</h1>
        </div>
        <div class="form-container">
    <form action="@Url.Action("RequestPasswordReset", "Users")" method="post">

        <div class="row">
            <div class="column">
                <label for="email">Email</label>
                <input type="text" id="email" name="Email" placeholder="Email Adresse eingeben">
              
            </div>
        </div>
        
        <div class="row">
            <div class="column">
                <div class="button-container">
                    <input type="submit" value="Senden">
                </div>
            </div>
        </div>
    </form>
</div>
</body>