@using Replay.ViewModels

@model InitialPasswordViewModel

<head>
    <link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />    
</head>
<div class="form-container">

<form asp-action="InitialPassword" method="post" onsubmit="onSubmit()">
 <div class="row">
            <div class="column">
                <label for="email">Email</label>
                <input type="text" id="email-input" name="Email" placeholder="Email Adresse eingeben" value="@Model.Email" disabled>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="Password">Passwort</label>
                <input type="password" id="password" name="Password" placeholder="Passwort" >
            </div>
        </div>
         <div class="row">
            <div class="column">
                <label for="ConfirmPassword">Passwort Bestätigen</label>
                <input type="password" name="ConfirmPassword" />
            </div>
        </div>
         <div class="row">
            <div class="column">
                <div class="button-container">
                    <input type="submit" value="Passwort setzen">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function onSubmit() {
        var input = document.getElementById("email-input");
        input.disabled = false;
    }
    
</script>