@using Replay.ViewModels
@model Replay.ViewModels.ResetPasswordViewModel
<head>
    <link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />    
</head>

<div class="form-container">

<form asp-action="ResetPassword" method="post" onsubmit="onSubmit()">
 <div class="row">
            <div class="column">
                <label for="email">Email</label>
                <input type="text" id="email-input" name="Email" placeholder="Email Adresse eingeben" value="@Model.Email" disabled>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="NewPassword">Passwort</label>
                <input type="password" id="password" name="NewPassword" placeholder="Passwort" >
            </div>
        </div>
         <div class="row">
            <div class="column">
                <label for="ConfirmPassword">Passwort Bestätigen</label>
                <input type="password" name="ConfirmPassword" />
            </div>
        </div>
        <input value="@Model.VerificationToken" name="VerificationToken" style="display: none;"/>
         <div class="row">
            <div class="column">
                <div class="button-container">
                    <input type="submit" value="Passwort setzen">
                </div>
            </div>
        </div>
    </form>
</div>
<script>
      function onSubmit() {
        var input = document.getElementById("email-input");
        input.disabled = false;
    }
</script>